{% extends "base.html" %}
{% block content %}

<section class="hero">
    <h1>FOOTPRINT <span>HISTORY</span></h1>
</section>

<div class="container mb-5">
    <div class="card-custom">

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Travel</th>
                        <th>Electricity</th>
                        <th>Diet</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>

{% endblock %}
